/* v v v CARD BODY v v v */
section {
  margin: 100px 20px 80px 20px;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
article {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  padding: 30px 20px 20px 20px;
  margin: 20px 0px 10px 0px;
  width: 90%;

  background-color: var(--card-color);
  border: solid black 1px;
  border-radius: 10px;

  -webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.45);
}
@media (min-width: 910px) {
  article {
    width: 800px;
  }
}
.card__question-headline {
  text-align: center;
  font-family: "Dosis", sans-serif;
}
/* ^ ^ ^ CARD BODY ^ ^ ^ */

/* v v v CARD ANSWER BUTTON v v v */
.card__answer--button {
  display: flex;
  justify-content: center;

  margin: 10px auto 10px auto;
  padding: 10px 30px 10px 30px;
  max-width: 200px;

  background-color: rgb(86, 86, 167);
  border: solid black 3px;
  border-radius: 50px;

  transition-duration: 0.4s;
}
.card__answer--button:hover {
  background-color: aliceblue;
}
.answer {
  display: flex;
  justify-content: center;
}
/* ^ ^ ^ CARD ANSWER BUTTON ^ ^ ^ */

/* v v v CARD TOPICS LIST v v v */
.card__topics--list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;

  padding-left: 0;
  gap: 10px;
}
.card__topics--item {
  padding: 5px;
  background-color: grey;
  color: white;
  border-radius: 10px;
  display: flex;
  box-sizing: content-box;
  width: min-content;
  font-family: "Dosis", sans-serif;
}
/* ^ ^ ^ CARD TOPICS LIST ^ ^ ^ */

/* v v v CARD BOOKMARK BUTTON v v v */
.card__bookmark--container {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: -15px;
}
.card__bookmark--button {
  background-size: cover;
  background-color: transparent;
  border: 0;
  transition-duration: 0.4s;
}
.card__bookmark--button:hover .card__bookmark--svgPath {
  fill: var(--card__bookmarkHOVER-color);
}
.card__bookmark--svgPath-color {
  fill: var(--card__bookmark-color);
}
/* ^ ^ ^ CARD BOOKMARK BUTTON ^ ^ ^ */

.card__addcard--container {
  height: 70px;
  width: 70px;
  border: 3px black solid;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin-top: 30px;
}
