.navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: var(--nav-color);
  border-top: solid black 3px;
}

.navigation__list {
  display: flex;
  justify-content: space-around;
}

.navigation__list--item {
  display: flex;
  justify-content: center;
}

.navigation__link {
  background: transparent;
  border: none;
  padding: 0;
}

.navigation__link:hover path {
  fill: white;
}

.navigation__svg {
  height: 30px;
  width: 30px;
  color: black;
}
