nav {
  display: flex;
  justify-content: space-around;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  background-color: brown;
  border-top: solid black 3px;
}

.nav--button {
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  border: 0;
  transition-duration: 0.4s;
}

.nav--button:hover {
  background-color: rgb(136, 34, 34);
}

.nav--button__icon {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}
