@import "/css/header.css";

@import "/css/card.css";

@import "/css/navigation.css";

@import "/css/button.css";

@import "/assets/font.css";

:root {
  --header-color: rgb(40, 40, 161);
  --body-color: bisque;
  --nav-color: brown;
  --card-color: rgb(230, 172, 100);
}

body {
  margin: 0;
  background-color: var(--body-color);
}

main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

section {
  margin: 100px auto 80px auto;
}

h1 {
  font-family: "Pacifico", cursive;
  color: white;
}

h2 {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
}

p {
  font-family: "Dosis", sans-serif;
  max-width: 600px;
}

button:hover {
  cursor: pointer;
}

.card--bookmark {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: -15px;
  background-image: url(svg/bookmark-outline-full.png);
  background-size: cover;
  background-color: transparent;
  border: 0;
  transition-duration: 0.4s;
}

.card--bookmark:hover {
  background-image: url(svg/bookmark-outline-pin.png);
}
