body {
  margin: 0;
}
header {
  display: flex;
  justify-content: center;
  background-color: blue;
}
main {
  display: flex;
  justify-content: center;
}
article {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: bisque;
  padding: 50px;
  flex-direction: column;
}
