body {
  margin: 0;
  background-color: bisque;
}
header {
  display: flex;
  justify-content: center;
  background-color: rgb(40, 40, 161);
  border-bottom: solid black 3px;
  position: fixed;
  width: 100%;
  z-index: 10;
}
main {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
article {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: rgb(230, 172, 100);
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  padding-bottom: 20px;
  flex-direction: column;
  border: solid black 1px;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
  position: relative;
  -webkit-box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.45);
  box-shadow: 5px 5px 15px 4px rgba(0, 0, 0, 0.45);
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  display: flex;
  justify-content: space-around;
  background-color: brown;
  border-top: solid black 3px;
}
.icons {
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
  /*border: solid black 5px;*/
}

.topicitem {
  padding: 10px;
  background-color: grey;
  color: white;
  border-radius: 10px;
  display: flex;
  box-sizing: content-box;
  width: min-content;
  font-family: "Dosis", sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
}
.topiclist {
  list-style: none;
  padding-left: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
h1 {
  font-family: "Pacifico", cursive;
  color: white;
}
p {
  font-family: "Dosis", sans-serif;
}
h2 {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif;
}
.answer {
  display: flex;
  justify-content: center;
  border: solid black 3px;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgb(86, 86, 167);
  border-radius: 50px;
}
.answer:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.bookmark {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 10px;
  top: -15px;
  background-image: url(svg/bookmark-outline-full.png);
  background-size: cover;
  background-color: transparent;
  border: 0;
}
.bookmark:hover {
  background-image: url(svg/bookmark-outline-pin.png);
  cursor: pointer;
}

section {
  margin-left: auto;
  margin-right: auto;
}

.containerbutton {
  margin-top: 0;
  margin-bottom: 0;
}

.buttonfooter {
  padding-left: 30px;
  padding-right: 30px;
  background-color: transparent;
  border: 0;
}

.buttonfooter:hover {
  background-color: rgb(136, 34, 34);
  cursor: pointer;
}
section {
  margin-top: 100px;
}
